.game-board {
  width: 520px;
  padding: 40px;
  margin: auto;
  border-radius: 30px;
  background-color: #0d6efd;
}

.game-piece {
  text-align: center;
  font-size: 80px;
}

.game-piece-X {
  color: white;
}

.game-piece-O {
  color: white;
}

.cell {
  background-color: inherit;
  height: 120px;
  cursor: pointer;
}
.row.middle {
  border-top: solid white 10px;
  border-bottom: solid white 10px;
}

.cell.center {
  border-right: solid white 10px;
  border-left: solid white 10px;
}