.game-board {
  min-width: 520px;
  padding: 40px;
  border-radius: 30px;
  background-color: khaki;
}

.game-piece {
  text-align: center;
  font-size: 80px;
}

.cell {
  background-color: inherit;
  height: 120px;
  cursor: pointer;
}
.row.middle {
  border-top: solid black 10px;
  border-bottom: solid black 10px;
}

.cell.center {
  border-right: solid black 10px;
  border-left: solid black 10px;
}